<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav ml ">
    <li class="nav-item">
      <a class="navbar-brand" routerLink="/"> Posts</a>
      <i class="fa fa-pencil" title="Edit"></i>
    </li>
  </ul>
  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml ">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/addPost">Add Post</a>
      </li>
    </ul>
  </div>

</nav>

<router-outlet></router-outlet>